a{
    text-decoration: none;

}
ul{
    list-style-type: none;
}

.mid {
  width: 70%;
    margin: auto;  
   
}

/* header top css */

.header-section{
    background: rgba(0, 0, 0, 0) url(img/main_header_images.png) no-repeat  center center  ;
    background-size: cover;
    height: 885px;
}
.header-top{
 
    background-image: url(img/background_top.png), url(img/header_back_bg.png);
    background-position:center top, center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 885px;
}
.header-top-logo-menu{
    background-image: url(./img/menu_bg.png );
    background-size: 100%;
   background-repeat: no-repeat;
}
.logo {
    height: 164px;
    background: #e1ecf2;
    border: 6px solid #fff;
    transform: rotate(-8deg);
    border-radius: 40px;
    position: relative;
    top: -40px;
    left: 43px;
}
.logo img {
    margin-top: 74px;
}
.logo h6 {
    color: #4cb2e7;
}
/* menu */
.menu ul {
    margin-top: 17px;
}
.menu ul li {
    margin-right: 34px;
}
.menu ul li a {
    display: inline-block;
    color: #fff;
}
/* header top content */
.header-middle{
    position: relative;
    top: -31px;
}
.header-content-left{
    background-image: url(./img/header_center_content_left_bg.png) ;
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}
.header-content-details {
    width: 300px;
    margin: auto;
    position: relative;
    top: 131px;
    left: 84px;
    text-align: center;
}
.header-content-details p {
    color: #ded90e;
    font-size: 20px;
    font-weight: 700;
}

.header-content-right {
    border: 8px solid #7ebee0;
    border-radius: 22px;
    height: 600px;
    width: 300px;
    margin: auto;
    background: #299fca url(img/header_center_content_right_bg_two.png) no-repeat scroll 22px 310px;
    padding: 20px;
}

.online-shape {
    background-image: url(./img/header_center_content_right_shape_bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 20px;
    position: relative;
    left: -43px;
    top: -24px;
}
.online-shape h4 {
    font-size: 23px;
}
.form label {
    color: #fff;
    margin-right: 15px;
}
.form input {
    width: 65%!important;
}
.form select{
    width: 65%!important;
}
.form textarea{
    width: 65%!important;
   
}
.c-btn {
    padding: 3px 22px;
    color: #64affc;
    background: #ded90e;
    border: 1px solid #ded90e;
    position: relative;
    right: -134px;
    top: 8px;
}
/* ========header bottom======== */
.header-bottom {
    background: rgba(0, 0, 0, 0) url(img/header_font_bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 495px;
    position: relative;
    top: -395px;
}
.bottom-left-item img {
    width: 73px;
    height: 58px;
    margin-right: 22px;
}
.header-bottom-left h2 {
    margin-bottom: 20px;
}
.bottom-left-item-details h3 {
    font-size: 22px;
    margin-top: -5px;
}
.bottom-left-item-details p {
    font-size: 13px;
    line-height: 14px;
    margin-top: -7px;
}
.header-bottom-left {
    position: relative;
    top: 158px;
}
.bottom-left-bottom {
    width: 47%;
    position: relative;
    right: -237px;
    top: -13px;
}
.bottom-left-bottom span {
    font-size: 26px;
}
.bottom-left-bottom .c-btn {
    position: absolute;
    top: 7px;
    right: 28px;
   
    font-size: 13px;
    padding: 4px 13px;
    font-weight: 500;
}
.bottom-top-right-main {
    border-bottom: 1px dotted;
    margin-bottom: 20px;
}
/* header-bottom-right */
.pos-fix {
    position: relative;
    top: 36px;
}
.header-bottom-right {
    position: relative;
    top: 63px;
}
.bottom-right-top {
    border-bottom: 1px solid #81ffff;
    overflow: hidden;
   
}
.bottom-right-top-left{}
.bottom-right-top-left ul {
    position: relative;
    top: 123px;
    left: -44px;
}
.bottom-right-top-left ul li {
    display: inline-block;
    margin-right: 6px;
    
}
.bottom-right-top-left ul li:nth-child(2) a {
    background: #299fca;
    color: #81ffff;
}
.bottom-right-top-left ul li a {
    color: #127ea5;
    background: #81ffff;
    padding: 5px 29px;
    border-radius: 8px 8px 0 0;

}
.special {
    background: #ded90e;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: 38px;
}
.special h2 {
    color: #64affc;
    margin-top: 24px;
    font-size: 36px;
    margin-bottom: 0px;
}
.special h3 {
    color: #64affc;
  
}
.offer {
    background: #34abd6;
    width: 85px;
    height: 85px;
    /* line-height: 89px; */
    text-align: center;
    border-radius: 50%;
    border: 4px solid #fff;
    position: relative;
    top: 57px;
    right: 16px;
}

.offer h5 {
    color: #f2eae7;
    line-height: 55px;
}
.bottom-right-bottom-left ul {
    margin-top: 12px;
}
.bottom-right-bottom-left ul li {
    margin-top: 5px;
    line-height: 0;
  
}
.bottom-right-bottom-left ul li p {
    display: inline-block;
    color: #fff;
    font-size: 14px;
}
.bottom-right-bottom-left ul li span {
    background: #81ffff;
    border-radius: 50%;
    width: 16px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    text-align: center;
    margin-right: 10px;
    font-size: 10px;
}
.bottom-right-bottom-right{}
.bottom-right-bottom-right ul{
    margin-top: 10px;
}
.bottom-right-bottom-right ul li{
    margin-top: 5px;
 line-height: 23px;
}
.bottom-right-bottom-right ul li span{
    color: #fff;
    font-size: 14px;
    margin-right: 20px;
}
.bottom-right-bottom-right ul li a{
    color: #fff;
    font-size: 14px;
}
/* map-section css */
.map-section {
    background: #d6e6ef;
    margin-top: 92px;
    height: 719px;
}

.map-title h2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 43px;
    
    color: #127ea5;
}
.map-title h4 {
    color: #127ea5;
    font-size: 17px;
    font-weight: 300;
}

/* africa turism css */
.turism-background {
    background-image: url(./img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 569px;
}
.africa-turism {
    background: #f7f4f4;
    border: 1px solid #fff;
    border-radius: 11px;
    padding: 15px;
    position: relative;
    top: 118px;
    width: 267px;
    left: 263px;
}
.turism-bottom h2 {
    color: #7d7d7d;
    font-size: 27px;
    font-weight: 600;
}
.africa-turism img {
    width: 82px;
    height: 57px;
    margin-right: 10px;
}
.turism-content h4 {
    font-size: 17px;
    color: #a4a4a4;
    margin-bottom: 0;
}

.turism-content p{
     font-size: 14px;
    color: #a4a4a4;
}
/* footer section css */
.footer-section{
    background-color: #127ea5 ;
    
}
.footer-top-left{}
.footer-top-left h2 {
    color: #fff;
    font-size: 23px;
}
.footer-top-left input{
    background: url(img/input_bg.png) no-repeat left center;
    border: none;
    color: #fff;
    height: 34px;
    width: 194px;
    padding-left: 6px;
    margin-right: 10px;
}

.f-btn {
    background: #d6e6ef;
    border-radius: 10px;
    padding: 4px 22px;
    color: #127ea5;
    font-weight: 500;
}
.footer-top-left h3 {
    color: #fff;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 13px;
}
.footer-top-left ul {
    padding-left: 0;
}
.footer-top-left ul li {
    display: inline-block;
    margin-right: 10px;
}
.footer-top-left ul li a{}
.footer-top-left ul li a i {
    color: #d6e6ef;
    font-size: 30px;
}
/* footer top middle */
.footer-top-middle{}
.footer-top-middle h3{
    color: #fff;
    font-size: 23px;
}
.footer-top-middle ul{
    padding-left: 0;
}
.footer-top-middle ul li{
    margin-bottom: -5px;
}
.footer-top-middle ul li p {
    font-size: 13px;
}
.footer-top-right input{
    background: url(img/input_bg.png) no-repeat left center;
    border: none;
    color: #fff;
    height: 34px;
    width: 194px;
    padding-left: 6px;
    margin-right: 10px;
    margin-bottom: 8px;
}
.footer-top-right textarea{
    background:#0f6686;
    border: none;
    color: #fff;
    height: 34px;
    width: 194px;
    padding-left: 6px;
    border-radius: 8px;
    border: 3px solid #53a0bb;
    
}
.f-btn-2 {
    display: block;
    width: 114px;
    position: relative;
    right: -40px;
    top: 11px;
}
/* footer botom css */
.footer-bottom span {
    position: relative;
    top: 30px;
    font-size: 14px;
}